TestBase/war/TestBaseDBManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://fonctionWebService.testBase.com/" name="TestBaseDBManagerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://fonctionWebService.testBase.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fonctionWebService.testBase.com/" schemaLocation="TestBaseDBManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createStubAuteur">
    <part name="parameters" element="tns:createStubAuteur"/>
  </message>
  <message name="createStubAuteurResponse">
    <part name="parameters" element="tns:createStubAuteurResponse"/>
  </message>
  <message name="modifierTout">
    <part name="parameters" element="tns:modifierTout"/>
  </message>
  <message name="modifierToutResponse">
    <part name="parameters" element="tns:modifierToutResponse"/>
  </message>
  <message name="afficher">
    <part name="parameters" element="tns:afficher"/>
  </message>
  <message name="afficherResponse">
    <part name="parameters" element="tns:afficherResponse"/>
  </message>
  <message name="additionner">
    <part name="parameters" element="tns:additionner"/>
  </message>
  <message name="additionnerResponse">
    <part name="parameters" element="tns:additionnerResponse"/>
  </message>
  <message name="supprimerTout">
    <part name="parameters" element="tns:supprimerTout"/>
  </message>
  <message name="supprimerToutResponse">
    <part name="parameters" element="tns:supprimerToutResponse"/>
  </message>
  <message name="createAuteur">
    <part name="parameters" element="tns:createAuteur"/>
  </message>
  <message name="createAuteurResponse">
    <part name="parameters" element="tns:createAuteurResponse"/>
  </message>
  <message name="createLivre">
    <part name="parameters" element="tns:createLivre"/>
  </message>
  <message name="createLivreResponse">
    <part name="parameters" element="tns:createLivreResponse"/>
  </message>
  <portType name="TestBaseDBManager">
    <operation name="createStubAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createStubAuteurRequest" message="tns:createStubAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createStubAuteurResponse" message="tns:createStubAuteurResponse"/>
    </operation>
    <operation name="modifierTout">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierToutRequest" message="tns:modifierTout"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierToutResponse" message="tns:modifierToutResponse"/>
    </operation>
    <operation name="afficher">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherRequest" message="tns:afficher"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherResponse" message="tns:afficherResponse"/>
    </operation>
    <operation name="additionner">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/additionnerRequest" message="tns:additionner"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/additionnerResponse" message="tns:additionnerResponse"/>
    </operation>
    <operation name="supprimerTout">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerToutRequest" message="tns:supprimerTout"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerToutResponse" message="tns:supprimerToutResponse"/>
    </operation>
    <operation name="createAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createAuteurRequest" message="tns:createAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createAuteurResponse" message="tns:createAuteurResponse"/>
    </operation>
    <operation name="createLivre">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createLivreRequest" message="tns:createLivre"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createLivreResponse" message="tns:createLivreResponse"/>
    </operation>
  </portType>
  <binding name="TestBaseDBManagerPortBinding" type="tns:TestBaseDBManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createStubAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifierTout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="additionner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprimerTout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createLivre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestBaseDBManagerService">
    <port name="TestBaseDBManagerPort" binding="tns:TestBaseDBManagerPortBinding">
      <soap:address location="http://testeclipse17.appspot.com/TestBaseDBManagerService"/>
    </port>
  </service>
</definitions>

