TestBase/war/TestBaseDBManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://fonctionWebService.testBase.com/" name="TestBaseDBManagerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://fonctionWebService.testBase.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fonctionWebService.testBase.com/" schemaLocation="TestBaseDBManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createStubAuteur">
    <part name="parameters" element="tns:createStubAuteur"/>
  </message>
  <message name="createStubAuteurResponse">
    <part name="parameters" element="tns:createStubAuteurResponse"/>
  </message>
  <message name="modifierToutAuteur">
    <part name="parameters" element="tns:modifierToutAuteur"/>
  </message>
  <message name="modifierToutAuteurResponse">
    <part name="parameters" element="tns:modifierToutAuteurResponse"/>
  </message>
  <message name="supprimerToutAuteur">
    <part name="parameters" element="tns:supprimerToutAuteur"/>
  </message>
  <message name="supprimerToutAuteurResponse">
    <part name="parameters" element="tns:supprimerToutAuteurResponse"/>
  </message>
  <message name="afficherAuteur">
    <part name="parameters" element="tns:afficherAuteur"/>
  </message>
  <message name="afficherAuteurResponse">
    <part name="parameters" element="tns:afficherAuteurResponse"/>
  </message>
  <message name="additionner">
    <part name="parameters" element="tns:additionner"/>
  </message>
  <message name="additionnerResponse">
    <part name="parameters" element="tns:additionnerResponse"/>
  </message>
  <message name="createAuteur">
    <part name="parameters" element="tns:createAuteur"/>
  </message>
  <message name="createAuteurResponse">
    <part name="parameters" element="tns:createAuteurResponse"/>
  </message>
  <portType name="TestBaseDBManager">
    <operation name="createStubAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createStubAuteurRequest" message="tns:createStubAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createStubAuteurResponse" message="tns:createStubAuteurResponse"/>
    </operation>
    <operation name="modifierToutAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierToutAuteurRequest" message="tns:modifierToutAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierToutAuteurResponse" message="tns:modifierToutAuteurResponse"/>
    </operation>
    <operation name="supprimerToutAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerToutAuteurRequest" message="tns:supprimerToutAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerToutAuteurResponse" message="tns:supprimerToutAuteurResponse"/>
    </operation>
    <operation name="afficherAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherAuteurRequest" message="tns:afficherAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherAuteurResponse" message="tns:afficherAuteurResponse"/>
    </operation>
    <operation name="additionner">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/additionnerRequest" message="tns:additionner"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/additionnerResponse" message="tns:additionnerResponse"/>
    </operation>
    <operation name="createAuteur">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createAuteurRequest" message="tns:createAuteur"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createAuteurResponse" message="tns:createAuteurResponse"/>
    </operation>
  </portType>
  <binding name="TestBaseDBManagerPortBinding" type="tns:TestBaseDBManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createStubAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifierToutAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprimerToutAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="additionner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createAuteur">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestBaseDBManagerService">
    <port name="TestBaseDBManagerPort" binding="tns:TestBaseDBManagerPortBinding">
      <soap:address location="http://localhost:8888/TestBaseDBManagerService"/>
    </port>
  </service>
</definitions>

