TestBase/war/TestBaseDBManagerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://fonctionWebService.testBase.com/" name="TestBaseDBManagerService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://fonctionWebService.testBase.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fonctionWebService.testBase.com/" schemaLocation="TestBaseDBManagerService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="create">
    <part name="parameters" element="tns:create"/>
  </message>
  <message name="createResponse">
    <part name="parameters" element="tns:createResponse"/>
  </message>
  <message name="createBDD">
    <part name="parameters" element="tns:createBDD"/>
  </message>
  <message name="createBDDResponse">
    <part name="parameters" element="tns:createBDDResponse"/>
  </message>
  <message name="modifier">
    <part name="parameters" element="tns:modifier"/>
  </message>
  <message name="modifierResponse">
    <part name="parameters" element="tns:modifierResponse"/>
  </message>
  <message name="modifier2">
    <part name="parameters" element="tns:modifier2"/>
  </message>
  <message name="modifier2Response">
    <part name="parameters" element="tns:modifier2Response"/>
  </message>
  <message name="afficherBase">
    <part name="parameters" element="tns:afficherBase"/>
  </message>
  <message name="afficherBaseResponse">
    <part name="parameters" element="tns:afficherBaseResponse"/>
  </message>
  <message name="supprimer">
    <part name="parameters" element="tns:supprimer"/>
  </message>
  <message name="supprimerResponse">
    <part name="parameters" element="tns:supprimerResponse"/>
  </message>
  <portType name="TestBaseDBManager">
    <operation name="create">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createRequest" message="tns:create"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createResponse" message="tns:createResponse"/>
    </operation>
    <operation name="createBDD">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createBDDRequest" message="tns:createBDD"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/createBDDResponse" message="tns:createBDDResponse"/>
    </operation>
    <operation name="modifier">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierRequest" message="tns:modifier"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifierResponse" message="tns:modifierResponse"/>
    </operation>
    <operation name="modifier2">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifier2Request" message="tns:modifier2"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/modifier2Response" message="tns:modifier2Response"/>
    </operation>
    <operation name="afficherBase">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherBaseRequest" message="tns:afficherBase"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/afficherBaseResponse" message="tns:afficherBaseResponse"/>
    </operation>
    <operation name="supprimer">
      <input wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerRequest" message="tns:supprimer"/>
      <output wsam:Action="http://fonctionWebService.testBase.com/TestBaseDBManager/supprimerResponse" message="tns:supprimerResponse"/>
    </operation>
  </portType>
  <binding name="TestBaseDBManagerPortBinding" type="tns:TestBaseDBManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="create">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createBDD">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifier2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="afficherBase">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="supprimer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TestBaseDBManagerService">
    <port name="TestBaseDBManagerPort" binding="tns:TestBaseDBManagerPortBinding">
      <soap:address location="http://localhost:8888/TestBaseDBManagerService"/>
    </port>
  </service>
</definitions>

